@using Microsoft.AspNetCore.Components.Authorization
@using PtgExpressHub.Web.Runtime

@inherits LayoutComponentBase
@inject AuthService authService

@if (@IsAuthorized)
{
    <div class="">
        @Body
    </div>
}
else
{
    <div class="auth_block">
        @Body
    </div>    
}

@code {
    public bool IsAuthorized { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        IsAuthorized = await authService.IsAuthorizedAsync();
    }
}