@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject AuthService _authService

@if (IsAuthorized)
{
    <div class="">
        @Body
    </div>
}
else
{
    <div class="auth_block">
        @Body
    </div>    
}

@code {
    public bool IsAuthorized { get; set; } = false;

    protected override void OnInitialized()
    {
        IsAuthorized = _authService.IsUserAuthenticated();
        _authService.OnAuthStateChanged += (isAuthorized) =>
        {
            IsAuthorized = isAuthorized;
            StateHasChanged();
        };
    }
}