.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 2rem;
}

.app-card {
    width: 27.5rem;
    margin-top: 2rem;

    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    padding: 1rem;
}

.app-card .header-user-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.github-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    cursor: pointer;
}

.card-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #111827;
}

.version-block {
    padding-top: 1rem;
}

.data-block {
    padding-bottom: 1.25rem;
}

.card-data-section {
    display: flex;
    flex-direction: row;
    gap: 0.33rem;
}

.card-data-section p {
    opacity: 0.725;
}

.download-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-bottom: 0.5rem;
}

.download-section .change-log {
    width: 32px;
    height: 32px;
    margin-top: 2px;
    cursor: pointer;
}

.download-section .btn-download {
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s;
}

.download-section .btn-download:hover {
    background-color: #393939;
    border: 1px solid #393939;
}

.select-container {
    width: 8rem;
}

.modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
}