@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Antiforgery

@page "/auth/login"

@attribute [RequireAntiforgeryToken(required: false)]

@inject NavigationManager _navigationManager
@inject AuthService _authenticationService
@inject IJSRuntime _jsRuntime;
@inject IConfiguration _configuration

<div class="auth-container">
    <h3>Авторизация</h3>
    <div class="auth-container-form">
        <EditForm Model="@Credentials" OnValidSubmit="async () => await HandleLoginAsync()" FormName="Authform">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-field">
                <label>Логин</label>
                <InputText style="border: 1px solid #d1d5db; border-radius: 0.375rem;" @bind-Value="Credentials.Username" />
            </div>
            <div class="form-field">
                <label>Пароль</label>
                <InputText style="border: 1px solid #d1d5db; border-radius: 0.375rem;" @bind-Value="Credentials.Password" type="password" />
            </div>
            <div class="form-field">
                <button class="ptg-button login-button" type="submit">Войти</button>
            </div>
        </EditForm>
    </div>
    <p class="error-message">@ErrorMessage </p>
</div>