@using Microsoft.AspNetCore.Components.Authorization

@page "/auth/logout"

@inject AuthService _authService
@inject NavigationManager _navigation
@inject IJSRuntime _jsRuntime;

<h3>Logging out...</h3>